{% extends "layout/base.html" %}

{% block title %}About This Website - Marcos Reyes{% endblock %}
{% block description %}Learn why Marcos Reyes created this personal website, what you can find here, and the purpose
behind sharing projects and resources.{% endblock %}
{% block keywords %}about website, Marcos Reyes, personal site, web development, resources, developer journey{% endblock
%}

{% block content %}
<h1>About Website</h1>
<p>Details about this website and me.</p>

<div class="container">
    <p>I created this website to share a bit about who I am, share resources that have helped me or that I have created,
        and also to practice my web development skills. I hope you like the site and find something useful in it.</p>

    <img src="{{ url_for('static', filename='img/Di_Gi_Charat_Render_01.webp') }}" style="width: 150px;"
        alt="Dejiko image">
    <p>I don't have much to offer, but I can offer you this: </p>
    <i>Deuteronomy 31:6 </i>
    <p>Be strong and courageous. Do not be afraid or terrified because of them, for the Lord your God goes with you; he
        will never leave you nor forsake you.</p>
</div>

<div class="container">
    <h3>Technical Website Details</h3>
    <p>This website is built using Flask, a lightweight web framework for Python. It uses Jinja2 templating to render
        HTML pages and is styled with CSS. The objective of this website is The program should not weigh more than 1MB
        in absolute size, in order to have a 90s style website and be super fast. <img
            src="{{ url_for('static', filename='img/smilleys/jester.gif')}}" alt="jester gif"></p>
    <ul>
        <li><strong>Framework:</strong> Flask</li>
        <li><strong>Templating Engine:</strong> Jinja2</li>
        <li><strong>Styling:</strong> CSS, no frameworks, no responsive</li>
        <li><strong>Container:</strong> Docker + Docker Compose</li>
        <li><strong>HTTP Server:</strong> Nginx (front-end) + Apache (back-end)</li>
        <li><strong>Website Size:</strong>
            < 1MB</li>
    </ul>
</div>

{% endblock %}