{% extends "layout/base.html" %}

{% block title %}About This Website - Marcos Reyes{% endblock %}
{% block description %}Learn why Marcos Reyes created this personal website, what you can find here, and the purpose
behind sharing projects and resources.{% endblock %}
{% block keywords %}about website, Marcos Reyes, personal site, web development, resources, developer journey{% endblock
%}

{% block content %}
<h1>About Website</h1>
<p>Details about this website and me.</p>

<div class="container">
    <p>I created this website to share a bit about who I am, share resources that have helped me or that I have created,
        and also to practice my web development skills. I hope you like the site and find something useful in it.</p>

    <img src="{{ url_for('static', filename='img/171295.gif') }}" style="width: 150px;" alt="Lain Image">
    <p>I don't have much to offer, but I can offer you this: </p>
    <i>Deuteronomy 31:6 </i>
    <p>Be strong and courageous. Do not be afraid or terrified because of them, for the Lord your God goes with you; he
        will never leave you nor forsake you.</p>
</div>
{% endblock %}