{% extends "layout/base.html" %}

{% block title %}Manifesto - Marcos Reyes{% endblock %}
{% block description %}Knowledge and insights into the philosophy behind Marcos Reyes' work and personal website.{%
endblock %}
{% block keywords %}philosophy, Marcos Reyes, personal site, web development, resources, developer journey{% endblock %}

{% block content %}
<h1>Manifesto</h1>
<p>If love is the answer, you're home.</p>

<div class="container">
    <h3>Technology</h3>
    <p>
        A website.
    </p>
    <p>
        An extension of myself, a space to share my thoughts, my projects, my learnings and my experiences. A place
        where
        I can be authentic, creative and vulnerable. A refuge for my restless mind and my passionate heart.
    </p>
    <p>
        In an abstract and digital world, everyone has their own space, their own universe. My website is mine, a place
        where I can be myself and connect with others who share my interests and values. It's a place where I can learn,
        grow and contribute to the community. It's a place where I can express my love for technology, art and life.
    </p>
    <h3>
        Life
    </h3>
    <p>
        Life is a journey, an adventure, an opportunity to learn, grow and love. It's a precious gift that we must
        value and make the most of. Life is a mystery, a wonder, a source of inspiration and awe. It's a challenge, a
        test, an opportunity to overcome our fears and limitations. Life is a game, a dance, an expression of our
        creativity and freedom. It's a path toward happiness, fulfillment and love.
    </p>
    <h3>
        Love
    </h3>
    <p>
        Possibly the most ambiguous word that exists.
    </p>
    <p>
        Love, romanticism? No.
    </p>
    <p>
        Love, attraction? No.
    </p>
    <p>
        Love is more than that.
    </p>
    <p>
        Connection, empathy, compassion, understanding, support, respect, admiration, inspiration. Love is a powerful
        force that drives us to be better, to create, to share, to care, to learn, to grow. Love is the essence of life,
        the reason for being, the purpose of our existence. Love is what makes us human, what connects us with others,
        what gives us meaning and significance.
    </p>
    <h3>
        Humans
    </h3>
    <p>
        Homo sapiens? To think? What makes us human?
    </p>
    <p>
        Does love make us human?
    </p>
    <p>
        Humanity is defined by our capacity to love, to connect, to empathize and to create. We are human because we
        feel, because we dream, because we care about others and the world around us. We are human because we seek
        meaning, purpose and transcendence in our lives. We are human because we love.
    </p>
    <h3>
        Love, everything redirects to that.
    </h3>
    <p>
        After all, love is what makes us human.
    </p>
    <p>
        Love is the force that drives us to be better, to create, to share, to care, to learn and to grow. It's the
        essence of our humanity and the purpose of our existence.
    </p>
    <p>
        The internet, computers, servers, technology. It's simply an extension to accomplish the things we love.
    </p>
    <p>
        Yes, that's simply it.
    </p>
    <i>
        But this text is complex.
    </i>
    <p>
        Complexity is often mistaken for progress.
    </p>
    <p>
        But complexity is just accumulated decisions that nobody questioned.
    </p>
    <strong>
        Hello World.
    </strong>
        
    <a href="{{ url_for('philosophy.philosophy_index') }}" class="route-button">Back to Philosophy</a>
</div>
{% endblock %}