{% extends "layout/base.html" %}

{% block title %}Principles - Marcos Reyes{% endblock %}
{% block description %}Knowledge and insights into the philosophy behind Marcos Reyes' work and personal website.{%
endblock %}
{% block keywords %}philosophy, Marcos Reyes, personal site, web development, resources, developer journey{% endblock %}

{% block content %}
<h1>Principles</h1>
<p>Here are some of the principles that guide my work and my life:</p>

<div class="container">
    <h3>Simplicity</h3>
    <p>Keep things simple and avoid unnecessary complexity.</p>
    <h3>Clarity</h3>
    <p>Communicate clearly and effectively, both in code and in writing.</p>
    <h3>Empathy</h3>
    <p>Understand and consider the needs and perspectives of others.</p>
    <h3>Continuous Learning</h3>
    <p>Always be open to learning new things and improving oneself. Never stop growing.</p>
    <h3>Passion</h3>
    <p>Do what you love and love what you do. Passion is the fuel that drives creativity and innovation.</p>
    <h3>Integrity</h3>
    <p>Be honest and ethical in all aspects of life and work.</p>
    <h3>Resilience</h3>
    <p>Embrace challenges and setbacks as opportunities for growth and learning.</p>
    <h3>Collaboration</h3>
    <p>Work together with others to achieve common goals and create something greater than the sum of its parts. I
        guess.</p>
    <h3>Clean Code</h3>
    <p>Write code that is easy to read, understand, and maintain. Strive for simplicity and clarity in your work.</p>
    <h3>Continuous Improvement</h3>
    <p>Always look for ways to improve your skills, processes, and products. Embrace feedback and learn from mistakes.
    </p>
    <h3>Systems Development Life Cycle</h3>
    <p>Follow a structured approach to software development that includes planning, analysis, design, implementation,
        testing, deployment, and maintenance.</p>
    <h3>Fail</h3>
    <p>Don't be afraid to make mistakes. Every failure is an opportunity to learn and improve.</p>
    <h3>Sleep</h3>
    <p>Rest is essential for mental and physical health. Make sure to get enough sleep to maintain your overall
        well-being. Don't end up like me.</p>
    <h3>Delete All</h3>
    <p>Start fresh. Don't be afraid to restart and try a different approach.</p>
    <h3>Have Fun</h3>
    <p>Enjoy the process of creation and learning. Fun is an important part of creativity and innovation.</p>
    <h3>Independence</h3>
    <p>It's okay to share, but never depend on anyone. Learn to be self-sufficient and solve problems on your own.
        Independence is key to personal and professional growth.</p>

    <a href="{{ url_for('philosophy.philosophy_index') }}" class="route-button">Back to Philosophy</a>
</div>

{% endblock %}