{% extends "layout/base.html" %}

{% block title %}Philosophy - Why I Build? - Marcos Reyes{% endblock %}
{% block description %}Knowledge and insights into the philosophy behind Marcos Reyes' work and personal website.{%
endblock %}
{% block keywords %}philosophy, Marcos Reyes, personal site, web development, resources, developer journey{% endblock %}

{% block content %}
<h1>Why I Build?</h1>
<p>A logical and profound question...</p>

<div class="container">
    <h3>The Motivation</h3>

    <p>Building is one of the most fundamental and gratifying activities that humans can perform. It is the essence of
        our creativity, innovation, and progress. Since ancient times, we have built tools, structures, and systems to
        improve our lives and understand the world around us.</p>

    <p>I've always had a problem: doing the opposite of everything.</p>

    <h4>Destruction</h4>

    <p>I don't know, it's not that I enjoy breaking things, not at all. Sometimes I feel like I'm Loki—I try to do good
        but end up causing chaos. It's not my intention, but it's what happens.</p>

    <p>However, despite these challenges, building remains an essential part of my life and my philosophy. It is through
        building that I can express my creativity, solve problems, and contribute to the world in a meaningful way.</p>

    <p>I have rarely reinvented the wheel, but I have made significant improvements to existing systems and processes,
        always seeking to optimize and perfect what already exists.</p>

    <p>There is an interesting phrase from the Prophet Muhammad:</p>

    <blockquote>
        "A man's true wealth is the good he does in this world."
    </blockquote>

    <p>
        I don't follow Islamic philosophy, but this phrase seems very interesting to me, and I believe it reflects the
        importance of building good and useful things for others. Instead of focusing on destruction or chaos, we should
        focus on creating things that benefit society and the world in general.
    </p>

    <p>
        Sometimes I even see hackers and crackers—those dangerous ones—and I wonder, why don't they use their skills to
        build useful things instead of destroying or causing chaos? I believe that if more people focused on building
        positive things, we could have a much greater impact on the world.
    </p>

    <p>
        One of my aspirations is to be a criminologist, and although it's not my primary career, I'm very interested in
        the study of crime and delinquency. I believe that if more people focused on building positive things instead of
        destroying or causing chaos, we could significantly reduce crime and improve society in general.
    </p>

    <p>
        In summary, if you ever see me causing chaos or destroying things, keep in mind that it's not my intention, and
        that I'm actually trying to build something better. Building is a fundamental part of my philosophy and my life,
        and I will always seek ways to contribute positively to the world through my skills and creativity.
    </p>

    <a href="{{ url_for('philosophy.philosophy_index') }}" class="route-button">Back to Philosophy</a>
</div>
{% endblock %}