{% extends "layout/base.html" %}

{% block title %}Philosophy - Why a Static Site? - Marcos Reyes{% endblock %}
{% block description %}Knowledge and insights into the philosophy behind Marcos Reyes' work and personal website.{%
endblock %}
{% block keywords %}philosophy, Marcos Reyes, personal site, web development, resources, developer journey{% endblock %}

{% block content %}
<h1>Why a Static Site?</h1>
<p>As a developer, I have always been fascinated by the simplicity and efficiency of static sites.</p>

<div class="container">
    <h3>The Static Sites</h3>
    <p>Since the internet exists, web sites started as simple pieces of static text and images. Over time, technology
        has evolved and web sites have become more dynamic and complex, but I have always felt a special connection with
        the simplicity of static sites.</p>
    <p>Just think, in the 90s there were about <strong>56 kbps</strong> connections, and web sites were mainly static.
        Despite bandwidth limitations, these sites were able to provide valuable information and a satisfying user
        experience. The simplicity of static sites has inspired me to create my own personal website using this
        technology.</p>
    <p>Or rather, if you just need some text or an image, why complicate things with a dynamic site? If you wanted to
        see a photo, read an article, or simply get information, a static site is more than enough. But here enters an
        inconsistency with my story...</p>
    <i>Hey, but you're using Flask? That's not a static site...</i>
    <p>You've caught me, it's true. Although my personal website is primarily static, I use Flask to handle some dynamic
        functionality, such as the contact form and dynamic content generation for certain sections. However, most of my
        site's content is static, which allows me to maintain the simplicity and efficiency that I value so much in web
        sites.</p>
    <p>According to <strong>GitHub</strong>... More than 53% of the code is pure HTML, I think that's a good indicator
        that my site is primarily static, albeit with some dynamic functionality added to improve user experience.</p>
    <p>Anyway, the simplicity and efficiency of static sites remains a fundamental part of my web development
        philosophy.</p>
    <p>I would love to use this page corporately, but of course it's too modest for that. The problem isn't the
        technology, it's people and their trends, like little lambs following what's fashionable, even if it's not best
        for them. Anyway, to each their own style. I prefer the simplicity and efficiency of static sites, and that's
        what inspires me to create my own personal website using this technology.</p>
</div>
{% endblock %}