{% extends "layout/base.html" %}

{% block title %}Acerca de Este Sitio Web - Marcos Reyes{% endblock %}
{% block description %}Descubre por qué Marcos Reyes creó este sitio web personal, qué puedes encontrar aquí, y el propósito
detrás de compartir proyectos y recursos.{% endblock %}
{% block keywords %}acerca del sitio, Marcos Reyes, sitio personal, desarrollo web, recursos, viaje de desarrollador{% endblock
%}

{% block content %}
<h1>Acerca del Sitio Web</h1>
<p>Detalles sobre este sitio web y sobre mí.</p>

<div class="container">
    <p>Creé este sitio web para compartir un poco sobre quién soy, compartir recursos que me han ayudado o que he creado,
        y también para practicar mis habilidades en desarrollo web. Espero que te guste el sitio y encuentres algo útil en él.</p>

    <img src="{{ url_for('static', filename='img/Di_Gi_Charat_Render_01.webp') }}" style="width: 150px;" alt="Imagen de Dejiko">
    <p>No tengo mucho que ofrecer, pero puedo ofrecerte esto: </p>
    <i>Deuteronomio 31:6 </i>
    <p>Sé fuerte y valiente. No tengas miedo ni te atemorices por ellos, porque el Señor tu Dios va contigo; nunca te dejará ni te abandonará.</p>
</div>

<div class="container">
    <h3>Detalles Técnicos del Sitio Web</h3>
    <p>Este sitio web está construido usando Flask, un framework web ligero para Python. Utiliza Jinja2 para renderizar
        páginas HTML y está estilizado con CSS. El objetivo de este sitio web es que el programa no pese más de 1MB
        en tamaño absoluto, para tener un sitio web de estilo de los 90s y ser súper rápido. <img
            src="{{ url_for('static', filename='img/smilleys/jester.gif')}}" alt="gif de bufón"></p>
    <ul>
        <li><strong>Framework:</strong> Flask</li>
        <li><strong>Motor de Plantillas:</strong> Jinja2</li>
        <li><strong>Estilos:</strong> CSS, sin frameworks, sin responsivo</li>
        <li><strong>Contenedor:</strong> Docker + Docker Compose</li>
        <li><strong>Servidor HTTP:</strong> Nginx (front-end) + Apache (back-end)</li>
        <li><strong>Tamaño del Sitio Web:</strong> < 1MB</li>
    </ul>
</div>
{% endblock %}
