{% extends "layout/base.html" %}

{% block title %}Portafolio de AstronautMarkus{% endblock %}
{% block description %}Explora el portafolio de Marcos Reyes, mostrando sus proyectos, habilidades y logros en ingeniería de software y desarrollo. Descubre su trabajo en desarrollo web, contribuciones de código abierto, y más.{% endblock %}
{% block keywords %}portafolio, Marcos Reyes, ingeniería de software, desarrollo web, proyectos, habilidades, logros, contribuciones de código abierto{% endblock %}

{% block content %}
<h1>Portafolio</h1>
<p>Un registro constantemente actualizado de todos mis repositorios de GitHub.</p>

{% for project in projects %}
<div class="container">
    <h2>{{ project.title }}</h2>
    <p>{{ project.spanish_description }}</p>
    <p><strong>Tecnologías utilizadas:</strong>
        {% for tag in project.tech_tags %}
        {{ tag.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% if project.project_url %}
    <a href="{{ project.project_url }}" target="_blank">
        <img src="{{ url_for('static', filename='img/88x31_buttons/github-check.gif')}}" alt="Repositorio de Github">
    </a>
    {% else %}
    <img src="{{  url_for('static', filename='img/88x31_buttons/tohell.gif')}}" alt="No hay repositorio disponible">
    {% endif %}
</div>
{% endfor %}
{% endblock %}
