{% extends "layout/base.html" %}
{% block title %}Datos de Experiencia Laboral - Marcos Reyes{% endblock %}
{% block description %}Explora la experiencia laboral y los datos de proyectos de Marcos Reyes, un desarrollador apasionado. Conoce su trayectoria profesional, habilidades y contribuciones técnicas.{% endblock %}
{% block keywords %}experiencia laboral, datos de experiencia, proyectos, Marcos Reyes, desarrollador, habilidades, contribuciones técnicas{% endblock %}

{% block content %}
<h1>Datos de Experiencia Laboral</h1>
<p>Detalles sobre mi experiencia laboral y proyectos.</p>

<div class="container">
	<p>Si eres reclutador o simplemente te interesa lo que he hecho, bienvenido a esta sección, donde puedes ver una tabla con los trabajos o proyectos que he realizado.</p>

	<table>
		<thead>
			<tr>
				<th>Nombre del Proyecto</th>
				<th>Descripción</th>
				<th>Tipo de Proyecto</th>
				<th>Rol que Tuve</th>
				<th>Tecnologías Usadas</th>
			</tr>
		</thead>
		<tbody>
			{% if projects|length == 0 %}
			<tr>
				<td colspan="5" style="text-align: center;">No hay proyectos disponibles. ¡Supongo que todavía soy un bebé en el mundo de la experiencia laboral!</td>
			</tr>
			{% else %}
			{% for project in projects %}
			<tr>
				<td>{{ project.spanish_name }}</td>
				<td>{{ project.spanish_description }}</td>
				<td>{{ project.spanish_type_of_project }}</td>
				<td>{{ project.spanish_role_that_i_had }}</td>
				<td>
					{% if project.technologies|length == 0 %}
					N/A
					{% else %}
						{% for technology in project.technologies %}
							{{ technology.name }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>

{% endblock %}
