{% extends "layout/base.html" %}

{% block title %}CV y Documentos - Marcos Reyes{% endblock %}
{% block description %}Accede al CV y documentos profesionales de Marcos Reyes. Descarga mi currículum, certificaciones
y portafolios de proyectos.{% endblock %}
{% block keywords %}CV, currículum, documentos, Marcos Reyes, certificaciones, portafolio, profesional{% endblock %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/w98_certificate_seal.ico')}}" alt="Network" class="icon"> CV y Documentos</h1>
<p>Accede a mis documentos y credenciales profesionales.</p>

<div class="container">
    <p>Selecciona un documento para descargar / ver:</p>

    <div>
        <a href="https://axm3vdh15xem.objectstorage.sa-valparaiso-1.oci.customer-oci.com/n/axm3vdh15xem/b/astronautmarkus-dev/o/personal-website%2Fcv_files%2FMarcos_Reyes_Mart%C3%ADnez_CV_ES.pdf"
            target="_blank" class="route-button">Descargar CV</a>
        <a href="{{ url_for('home.work_and_experience_es')}}" class="route-button">Regresar</a>
    </div>

</div>

{% endblock %}