{% extends "layout/base.html" %}

{% block title %}Extras - Marcos Reyes - Desarrollador Full Stack & Administrador de Sistemas{% endblock %}
{% block description %}Explora el contenido Extra de mi sitio web, incluyendo listas de reproducción de música y otros medios.{% endblock %}
{% block keywords %}Marcos Reyes, extras, desarrollador full stack, administrador de sistemas{% endblock %}

{% block content %}
<h1>Extras</h1>
<p>Contenido extra que me gusta o que solo quiero dejar aquí.</p>

<div class="container">
    <h3>Canciones de Youtube</h3>
    <div>
        {% for song in youtube_songs %}
            <a href="{{ song.youtube_url }}" target="_blank">{{ song.title }} <br><br></a>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h3>Videos Underground de Youtube</h3>
    <div>
        {% for video in youtube_videos %}
            <a href="{{ video.youtube_url }}" target="_blank">{{ video.title }} <br><br></a>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h3>ASCII Art</h3>
    <div class="ascii-art-grid">
        {% for filename, art in ascii_arts %}
            <pre class="ascii-code-block"><span class="ascii-code-label">{{ filename }}</span>{{ art }}</pre>
        {% endfor %}
    </div>
</div>

{% endblock %}

