{% extends "layout/base.html" %}

{% block title %}Portafolio de AstronautMarkus{% endblock %}
{% block description %}Explora el portafolio de Marcos Reyes, mostrando sus proyectos, habilidades y logros en ingeniería de software y desarrollo. Descubre su trabajo en desarrollo web, contribuciones de código abierto, y más.{% endblock %}
{% block keywords %}portafolio, Marcos Reyes, ingeniería de software, desarrollo web, proyectos, habilidades, logros, contribuciones de código abierto{% endblock %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/w98_directory_open_cabinet_fc.ico')}}" alt="Portafolio" class="icon"> Portafolio</h1>
<p>Un registro constantemente actualizado de todos mis repositorios de GitHub.</p>

{% for project in projects %}
<div class="container portfolio-card">
    <div class="portfolio-img">
        {% if project.image_url %}
        <img src="{{ project.image_url }}" alt="{{ project.title }} vista previa">
        {% else %}
        <img src="{{ url_for('static', filename='img/No_Image_Available.jpg') }}" alt="Imagen no disponible">
        {% endif %}
    </div>
    <div class="portfolio-info">
        <h2 style="text-align: center;">{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <p><strong>Stack Tecnológico:</strong>
            {% for tag in project.tech_tags %}
            {{ tag.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% if project.project_url %}
        <a href="{{ project.project_url }}" target="_blank">
            <button class="btn btn-primary">Ver Repositorio en GitHub</button>
        </a>

        {% else %}
        <p><em>No hay repositorio de GitHub disponible. ¡Qué pena!</em></p>

        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
