{% set current_endpoint = request.endpoint or '' %}
{% set is_home_endpoint = current_endpoint in ['home.index', 'home.index_es'] %}
{% set static_routes = [
{
'endpoint_en': 'home.about',
'endpoint_es': 'home.about_es',
'label_en': 'About Website',
'label_es': 'Acerca del sitio web',
'icon': 'w95_2.ico'
},
{
'endpoint_en': 'home.markus_tech_stack',
'endpoint_es': 'home.markus_tech_stack_es',
'label_en': 'Markus Tech Stack',
'label_es': 'Tech Stack de Markus',
'icon': 'w98_console_prompt.ico'
},
{
'endpoint_en': 'home.portfolio',
'endpoint_es': 'home.portfolio_es',
'label_en': 'Portfolio',
'label_es': 'Portafolio',
'icon': 'w98_directory_open_cabinet_fc.ico'
},
{
'endpoint_en': 'home.work_and_experience',
'endpoint_es': 'home.work_and_experience_es',
'label_en': 'Work and Experience',
'label_es': 'Trabajo y experiencia',
'icon': 'w98_msagent.ico'
},
{
'endpoint_en': 'home.external_links',
'endpoint_es': 'home.external_links_es',
'label_en': 'External Links',
'label_es': 'Enlaces externos',
'icon': 'w98_search_web.ico'
},
{
'endpoint_en': 'home.contact',
'endpoint_es': 'home.contact_es',
'label_en': 'Contact',
'label_es': 'Contacto',
'icon': 'w98_message_envelope_open.ico'
},
{
'endpoint_en': 'home.extras',
'endpoint_es': 'home.extras_es',
'label_en': 'Extras',
'label_es': 'Extras',
'icon': 'w98_shell_window2.ico'
}
] %}

<div class="container">
    {% if is_home_endpoint %}
    <h4>{{ 'Rutas disponibles' if is_spanish else 'Available routes' }}</h4>
    {% for item in static_routes %}
    <a href="{{ url_for(item.endpoint_es if is_spanish else item.endpoint_en) }}" class="route-button">
       {% if item.icon %}
       <img src="{{ url_for('static', filename='img/icons/' ~ item.icon) }}" alt="{{ item.label_es if is_spanish else item.label_en }}" class="route-icon">
       {% endif %}
       {{ item.label_es if is_spanish else item.label_en }}
    </a>
    {% endfor %}
    <a href="{{ url_for('philosophy.philosophy_index_es' if is_spanish else 'philosophy.philosophy_index') }}" class="route-button philosophy-button">
        <img src="{{ url_for('static', filename='img/icons/w2k_uninstall.ico')}}" alt="{{ 'Filosofía' if is_spanish else 'Philosophy' }}" class="route-icon">
        {{ 'Filosofía' if is_spanish else 'Philosophy' }}
    </a>
    <a href="{{ url_for('home.es_notes' if is_spanish else 'home.notes') }}" class="route-button notes-button">
        <img src="{{ url_for('static', filename='img/icons/w98_note.ico')}}" alt="{{ 'Notas' if is_spanish else 'Notes' }}" class="route-icon">
        {{ 'Notas' if is_spanish else 'Notes' }}
    </a>
    {% else %}
    <a href="{{ url_for('home.index_es' if is_spanish else 'home.index') }}" class="route-button">
        <img src="{{ url_for('static', filename='img/icons/w98_homepage.ico')}}" alt="{{ 'Volver al inicio' if is_spanish else 'Back Home' }}" class="route-icon">
        {{ 'Volver al inicio' if is_spanish else 'Back Home' }}
    </a>
    {% endif %}
</div>