{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
{% endblock %}

<header class="header-sticky" aria-label="Site">
    <div class="header-content">
        <div class="header-avatar">
            <img src="{{ url_for('static', filename='img/icon.png') }}" alt="AstronautMarkus Avatar" />
        </div>
        <div class="header-title">AstronautMarkusDev</div>
        <nav class="header-links">
            <button class="frutiger-aero-button medium primary">Home</button>
            <button class="frutiger-aero-button small secondary">About</button>
        </nav>
    </div>
</header>