{% extends "layout/base.html" %}

{% block title %}Filosofía - Marcos Reyes{% endblock %}
{% block description %}Conocimiento e insights sobre la filosofía detrás del trabajo y sitio web personal de Marcos Reyes.{% endblock %}
{% block keywords %}filosofía, Marcos Reyes, sitio personal, desarrollo web, recursos, viaje del desarrollador{% endblock %}

{% block content %}
<h1>Filosofía</h1>
<p>Insights sobre la filosofía detrás de mi trabajo y sitio web personal.</p>

<div class="container">
    <h3>Enlaces de Recursos</h3>
    <a href="{{ url_for('philosophy.why_static') }}" class="route-button">¿Por qué un Sitio Estático?</a>
</div>
{% endblock %}
