{% extends "layout/base.html" %}

{% block title %}Manifiesto - Marcos Reyes{% endblock %}
{% block description %}Conocimiento e ideas sobre la filosofía detrás del trabajo y sitio personal de Marcos Reyes.{%
endblock %}
{% block keywords %}filosofía, Marcos Reyes, sitio personal, desarrollo web, recursos, viaje del desarrollador{% endblock %}

{% block content %}
<h1>Manifiesto</h1>
<p>"If love is the answer, you're home."</p>

<div class="container">
    <h3>Tecnología</h3>
    <p>
        Un sitio web.
    </p>
    <p>
        Una extensión de mí mismo, un espacio para compartir mis pensamientos, mis proyectos, mis aprendizajes y mis experiencias. Un lugar donde
        puedo ser auténtico, creativo y vulnerable. Un refugio para mi mente inquieta y mi corazón apasionado.
    </p>
    <p>
        En un mundo abstracto y digital, todos tenemos nuestro propio espacio, nuestro propio universo. Mi sitio web es el mío, un lugar
        donde puedo ser yo mismo y conectar con otros que comparten mis intereses y valores. Es un lugar donde puedo aprender,
        crecer y contribuir a la comunidad. Es un lugar donde puedo expresar mi amor por la tecnología, el arte y la vida.
    </p>
    <h3>
        Vida
    </h3>
    <p>
        La vida es un viaje, una aventura, una oportunidad para aprender, crecer y amar. Es un regalo precioso que debemos
        valorar y aprovechar al máximo. La vida es un misterio, una maravilla, una fuente de inspiración y asombro. Es un desafío, una
        prueba, una oportunidad para superar nuestros miedos y limitaciones. La vida es un juego, una danza, una expresión de nuestra
        creatividad y libertad. Es un camino hacia la felicidad, la realización y el amor.
    </p>
    <h3>
        Amor
    </h3>
    <p>
        Posiblemente la palabra más ambigua que existe.
    </p>
    <p>
        ¿Amor, romanticismo? No.
    </p>
    <p>
        ¿Amor, atracción? No.
    </p>
    <p>
        El amor es más que eso.
    </p>
    <p>
        Conexión, empatía, compasión, comprensión, apoyo, respeto, admiración, inspiración. El amor es una fuerza poderosa
        que nos impulsa a ser mejores, a crear, a compartir, a cuidar, a aprender, a crecer. El amor es la esencia de la vida,
        la razón de ser, el propósito de nuestra existencia. El amor es lo que nos hace humanos, lo que nos conecta con otros,
        lo que nos da significado e importancia.
    </p>
    <h3>
        Humanos
    </h3>
    <p>
        ¿Homo sapiens? ¿Pensar? ¿Qué nos hace humanos?
    </p>
    <p>
        ¿Nos hace humanos el amor?
    </p>
    <p>
        La humanidad se define por nuestra capacidad de amar, conectar, empatizar y crear. Somos humanos porque sentimos, porque soñamos, porque nos importa
        los demás y el mundo que nos rodea. Somos humanos porque buscamos significado, propósito y trascendencia en nuestras vidas. Somos humanos porque amamos.
    </p>
    <h3>
        Amor, todo se redirige a eso.
    </h3>
    <p>
        Después de todo, el amor es lo que nos hace humanos.
    </p>
    <p>
        El amor es la fuerza que nos impulsa a ser mejores, a crear, a compartir, a cuidar, a aprender y a crecer. Es la
        esencia de nuestra humanidad y el propósito de nuestra existencia.
    </p>
    <p>
        Internet, computadoras, servidores, tecnología. Es simplemente una extensión para lograr las cosas que amamos.
    </p>
    <p>
        Sí, así de simple es.
    </p>
    <i>
        Pero este texto es complejo.
    </i>
    <p>
        La complejidad a menudo se confunde con el progreso.
    </p>
    <p>
        Pero la complejidad es solo decisiones acumuladas que nadie cuestionó.
    </p>
    <strong>
        Hola Mundo.
    </strong>

    <a href="{{ url_for('philosophy.philosophy_index_es') }}" class="route-button">Volver a Filosofía</a>
</div>
{% endblock %}

