{% extends "layout/base.html" %}

{% block title %}Filosofía - ¿Por qué construyo? - Marcos Reyes{% endblock %}
{% block description %}Conocimiento e ideas sobre la filosofía detrás del trabajo y sitio web personal de Marcos
Reyes.{% endblock %}
{% block keywords %}filosofía, Marcos Reyes, sitio personal, desarrollo web, recursos, viaje del desarrollador{%
endblock %}

{% block content %}
<h1>¿Por qué construyo?</h1>
<p>Una pregunta lógica y profunda...</p>

<div class="container">
    <h3>La Motivación</h3>

    <p>Construir es una de las actividades más fundamentales y gratificantes que los humanos pueden realizar. Es la
        esencia de nuestra creatividad, innovación y progreso. Desde la antigüedad, hemos construido herramientas,
        estructuras y sistemas para mejorar nuestras vidas y comprender el mundo que nos rodea.</p>

    <p>Siempre he tenido un problema: hacer todo lo contrario.</p>

    <h4>La Destrucción</h4>

    <p>No sé, no es que disfrute de romper cosas, para nada. A veces siento que soy como Loki: intento hacer el bien
        pero termino causando caos. No es mi intención, pero es lo que sucede.</p>

    <p>Sin embargo, a pesar de estos desafíos, la construcción sigue siendo una parte esencial de mi vida y mi
        filosofía. Es a través de la construcción que puedo expresar mi creatividad, resolver problemas y contribuir al
        mundo de manera significativa.</p>

    <p>Casi nunca he reinventado la rueda, pero he hecho mejoras significativas en los sistemas y procesos existentes,
        buscando siempre optimizar y perfeccionar lo que ya existe.</p>

    <p>Hay una frase interesante del profeta Mahoma:</p>

    <blockquote>
        "La verdadera riqueza del hombre es el bien que hace en este mundo."
    </blockquote>

    <p>No sigo la filosofía musulmana, pero esta frase me parece muy interesante y creo que refleja la importancia de
        construir cosas buenas y útiles para los demás. En lugar de enfocarnos en la destrucción o el caos, deberíamos
        centrarnos en crear cosas que beneficien a la sociedad y al mundo en general.
    </p>

    <p>Incluso a veces veo hackers, crackers, esos bien peligrosos, y me pregunto: ¿por qué no usan sus habilidades
        para construir cosas útiles en lugar de destruir o causar caos? Creo que si más personas se enfocaran en
        construir cosas positivas, podríamos tener un impacto mucho mayor en el mundo.
    </p>

    <p>Una de mis aspiraciones es ser criminólogo y, aunque no es mi carrera principal, me interesa mucho el estudio
        del crimen y la delincuencia. Creo que si más personas se enfocaran en construir cosas positivas en lugar de
        destruir o causar caos, podríamos reducir significativamente la delincuencia y mejorar la sociedad en general.
    </p>

    <p>En resumen, si alguna vez me ves haciendo caos o destruyendo cosas, ten en cuenta que no es mi intención, y que
        en realidad estoy tratando de construir algo mejor. La construcción es una parte fundamental de mi filosofía y
        mi vida, y siempre buscaré formas de contribuir positivamente al mundo a través de mis habilidades y
        creatividad.
    </p>

    <a href="{{ url_for('philosophy.philosophy_index') }}" class="route-button">Back to Philosophy</a>
</div>
{% endblock %}