{% extends "layout/base.html" %}

{% block title %}Philosophy - Why a Static Site? - Marcos Reyes{% endblock %}
{% block description %}Knowledge and insights into the philosophy behind Marcos Reyes' work and personal website.{%
endblock %}
{% block keywords %}philosophy, Marcos Reyes, personal site, web development, resources, developer journey{% endblock %}

{% block content %}
<h1>¿Por qué un sitio estático?</h1>
<p>Como desarrollador, siempre me ha fascinado la simplicidad y eficiencia de los sitios estáticos.</p>

<div class="container">
    <h3>Los sitios estáticos</h3>
    <p>Desde que existe internet, los sitios web comenzaron como simples piezas de texto e imágenes. Con el tiempo, la
        tecnología ha evolucionado y los sitios web se han vuelto más dinámicos y complejos, pero siempre he sentido una
        conexión especial con la simplicidad de los sitios estáticos.</p>
    <p>Solo piénsalo, en los 90 había conexiones de alrededor de <strong>56 kbps</strong>, y los sitios web eran
        principalmente estáticos. A pesar de las limitaciones de ancho de banda, estos sitios podían proporcionar
        información valiosa y una experiencia de usuario satisfactoria. La simplicidad de los sitios estáticos me ha
        inspirado a crear mi propio sitio web personal usando esta tecnología.</p>
    <p>O mejor dicho, si solo necesitas texto o una imagen, ¿por qué complicar las cosas con un sitio dinámico? Si
        querías ver una foto, leer un artículo u obtener información, un sitio estático es más que suficiente. Pero aquí
        entra una inconsistencia con mi historia...</p>
    <i>Espera, ¿pero estás usando Flask? Eso no es un sitio estático...</i>
    <p>Me atrapaste, es verdad. Aunque mi sitio web personal es principalmente estático, utilizo Flask para manejar
        alguna funcionalidad dinámica, como el formulario de contacto y la generación dinámica de contenido para ciertas
        secciones. Sin embargo, la mayoría del contenido de mi sitio es estático, lo que me permite mantener la
        simplicidad y eficiencia que valoro tanto en los sitios web.</p>
    <p>Según <strong>GitHub</strong>... Más del 53% del código es HTML puro, creo que eso es un buen indicador de que mi
        sitio es principalmente estático, aunque con algo de funcionalidad dinámica agregada para mejorar la experiencia
        del usuario.</p>
    <p>De todos modos, la simplicidad y eficiencia de los sitios estáticos sigue siendo una parte fundamental de mi
        filosofía de desarrollo web.</p>
    <p>Me encantaría usar esta página corporativamente, pero por supuesto es demasiado modesta para eso. El problema no
        es la tecnología, son las personas y sus tendencias, como pequeños corderos siguiendo lo que está de moda,
        aunque no sea lo mejor para ellos. De todas formas, cada uno su estilo. Prefiero la simplicidad y eficiencia de
        los sitios estáticos, y eso es lo que me inspira a crear mi propio sitio web personal usando esta tecnología.
    </p>
</div>
{% endblock %}