{% extends "layout/base.html" %}

{% block title %}About This Website - Marcos Reyes{% endblock %}
{% block description %}Learn why Marcos Reyes created this personal website, what you can find here, and the purpose
behind sharing projects and resources.{% endblock %}
{% block keywords %}about website, Marcos Reyes, personal site, web development, resources, developer journey{% endblock
%}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/w95_2.ico')}}" alt="About Website" class="icon"> About Website</h1>
<p>Details about this website and me.</p>

<div class="container">
    <p>I created this website to share a bit about who I am, share resources that have helped me or that I have created,
        and also to practice my web development skills. I hope you like the site and find something useful in it.</p>

    <img src="{{ url_for('static', filename='img/Di_Gi_Charat_Render_01.webp') }}" style="width: 150px;"
        alt="Dejiko image">
    <p>I don't have much to offer, but I can offer you this: </p>
    <i>Deuteronomy 31:6 </i>
    <p>Be strong and courageous. Do not be afraid or terrified because of them, for the Lord your God goes with you; he
        will never leave you nor forsake you.</p>
</div>

<div class="container">
    <h3>Technical Website Details</h3>
    <p>This website is built using Flask, a lightweight web framework for Python. It uses Jinja2 templating to render
        HTML pages and is styled with CSS. The objective of this website is The program should not weigh more than 1MB
        in absolute size, in order to have a 90s style website and be super fast. <img
            src="{{ url_for('static', filename='img/smilleys/jester.gif')}}" alt="Jester gif"></p>
    <ul>
        <li><strong>Framework:</strong> Flask</li>
        <li><strong>Templating Engine:</strong> Jinja2</li>
        <li><strong>Styling:</strong> CSS, no frameworks, no responsive</li>
        <li><strong>Container:</strong> Docker + Docker Compose</li>
        <li><strong>HTTP Server:</strong> Nginx (front-end) + Apache (back-end)</li>
        <li><strong>Website Size:</strong>
            < 2MB</li>
    </ul>
</div>

<div class="container">
    <h3>License</h3>
    <p>MIT License? Nuh uh. <img src="{{ url_for('static', filename='img/smilleys/no2.gif')}}" alt="No gif"> This
        website and all its content are licensed under the <strong>Do What The F*ck You Want To Public License</strong>
        (WTFPL), because I'm a rebel, I guess, mom.</p>
    <i>Please check the <a href="https://github.com/astronautmarkus/website/tree/main/LICENSE" target="_blank"
                class="route-button">LICENSE</a> file on GitHub for more details.</i>
</div>

<div class="container">
    <h3>Personal</h3>
    <p>There's not much to say about me, I'm not very extroverted or sociable, I just do what I like, which is the IT
        side and everything related to technology and telecommunications.</p>
    <i>I am Chilean, I like cats and dogs that are not too energetic or obsessive with you.</i>
    <p>
        I have a lot of hobbies, for example, I like the networking side, I like to learn about new technologies, I like
        the radio, The only things I don't enjoy much anymore are playing video games and watching TV. Playing games
        doesn't give me the same dopamine rush as before; now only technology does.
    </p>
    <i>
        And forget about TV—that doesn't do anything for me at all. <img
            src="{{ url_for('static', filename='img/tenna.gif')}}" style="width: 50px;" alt="Tenna">
    </i>
</div>

<div class="container">
    <h3>College</h3>
    <p>
        In January 2022, I chose to study computer programmer analyst on a whim, without questioning it more than twice.
        During that time, until July 2025 when I graduated, I experienced everything: happiness, anger, sadness, rage,
        stress, injustice—everything one can imagine from the university world. But thanks to that foundation, I now
        know so much more on my own. That's the beauty of it, isn't it?
    </p>
</div>

<div class="container">
    <h3>Contact</h3>
    <p>
        If you want to contact me, please visit the <a href="{{ url_for('home.contact') }}"
            class="route-button">Contact</a> page. Easy peasy.
    </p>
</div>

{% endblock %}