{% extends "layout/base.html" %}

{% block title %}CV and Documents - Marcos Reyes{% endblock %}
{% block description %}Access the CV and professional documents of Marcos Reyes. Download my resume, certifications, and
project portfolios.{% endblock %}
{% block keywords %}CV, resume, documents, Marcos Reyes, certifications, portfolio, professional{% endblock %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/w98_certificate_seal.ico')}}" alt="CV and Documents" class="icon"> CV and Documents</h1>
<p>Access my professional documents and credentials.</p>

<div class="container">
    <p>Select a document to download / view:</p>

    <div>
        <a href="https://axm3vdh15xem.objectstorage.sa-valparaiso-1.oci.customer-oci.com/n/axm3vdh15xem/b/astronautmarkus-dev/o/personal-website%2Fcv_files%2FMarcos_Reyes_Mart%C3%ADnez_CV_EN.pdf"
            target="_blank" class="route-button">Download CV</a>
        <a href="{{ url_for('home.work_and_experience')}}" class="route-button">Go Back</a>
    </div>

</div>

{% endblock %}