{% extends "layout/base.html" %}

{% block title %}Extras - Marcos Reyes - Full Stack Developer & Systems Administrator{% endblock %}
{% block description %}Explore the Extra content of my website, including music playlists and other media.{% endblock %}
{% block keywords %}Marcos Reyes, extras, full stack developer, systems administrator{% endblock %}

{% block content %}
<h1>Extras</h1>
<p>Extra content that I like it or only I want to leave here.</p>

<div class="container">
    <h3>Youtube Songs</h3>
    <div class="playlist-embed">
        {% for playlist in playlists %}
            {{ playlist.iframe | safe }}
        {% endfor %}
    </div>
</div>

<div class="container">
    <h3>Underground Videos</h3>
    {% for video in underground_videos %}
        <div class="video-embed">
            {{ video.iframe | safe }}
        </div>
    {% endfor %}
</div>


{% endblock %}