{% extends "layout/base.html" %}

{% block title %}Extras - Marcos Reyes - Full Stack Developer & Systems Administrator{% endblock %}
{% block description %}Explore the Extra content of my website, including music playlists and other media.{% endblock %}
{% block keywords %}Marcos Reyes, extras, full stack developer, systems administrator{% endblock %}

{% block content %}
<h1>Extras</h1>
<p>Extra content that I like it or only I want to leave here.</p>

<div class="container">
    <h3>Youtube Songs</h3>
    <div>
        {% for song in youtube_songs %}
            <a href="{{ song.youtube_url }}" target="_blank">{{ song.title }} <br><br></a>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h3>Youtube Underground Videos</h3>
    <div>
        {% for video in youtube_videos %}
            <a href="{{ video.youtube_url }}" target="_blank">{{ video.title }} <br><br></a>
        {% endfor %}
    </div>
</div>


<div class="container">
    <h3>ASCII Art</h3>
    <div class="ascii-art-grid">
        {% for filename, art in ascii_arts %}
            <pre class="ascii-code-block"><span class="ascii-code-label">{{ filename }}</span>{{ art }}</pre>
        {% endfor %}
    </div>
</div>


{% endblock %}