{% extends "layout/base.html" %}

{% block title %}Marcos Reyes - Full Stack Developer & Systems Administrator{% endblock %}
{% block description %}Personal website of Marcos Reyes, a full stack developer and systems administrator focused on
scalable, secure, and high-performance software solutions.{% endblock %}
{% block keywords %}Marcos Reyes, full stack developer, systems administrator, portfolio, Python, Laravel, React,
Docker{% endblock %}

{% block content %}
<div>
  <h1>MARCOS REYES WEBSITE</h1>
  <i>AstronautMarkus.Dev</i>
</div>

<div>
  <img src="{{ url_for('utils.visitor_counter') }}" alt="Visitor Counter">
</div>

<marquee class="marquee">{{ quote }}</marquee>

<div class="container">
  <img src="{{ url_for('static', filename='img/profile.webp') }}" class="profile-picture" alt="Website Art">
  <h2> ABOUT ME</h2>
  <p>Full Stack Developer & Systems Administrator | Innovation, Performance and Security
    I create high-impact technological solutions, from SaaS to hosting platforms and e-commerce, combining
    React, Laravel, Python and Docker with Agile methodologies. I lead teams, optimize processes and build
    reliable, secure and scalable software that truly transforms businesses.
  </p>

  <i>I was born on {{ born_day }} and I am {{ age }} years old.</i> <br>

  <p>
    My favorite video game is <a class="payday-game-a" href="https://store.steampowered.com/agecheck/app/218620/"
      target="_blank">PAYDAY2</a>. I never get bored of its simple and repetitive gameplay, the music is great.
  </p>

  <a href="https://github.com/astronautmarkus" target="_blank">
    <img src="{{ url_for('static', filename='img/88x31_buttons/github-check.gif') }}" alt="GitHub">
  </a>

  <p>
    BTW, this is me when the code works on the first try:
  </p>

  <img src="{{ url_for('static', filename='img/smilleys/yahoo.gif' )}}" alt="Yahoo Smiley">

  <p>
    And this is me when it doesn't work on the first try:
  </p>

  <img src="{{ url_for('static', filename='img/smilleys/aggressive.gif' )}}" alt="Aggressive Smiley">


</div>

<div class="container">
  <h2> WHAT I DO</h2>
  <p>
    I specialize in building high-performance web applications and scalable infrastructure. My expertise includes:
  <ul style="list-style-type: square;">
    <li>Full Stack Development: React, Laravel, Python</li>
    <li>Systems Administration: Linux, Docker, Nginx, Apache</li>
    <li>Networking / IoT: FortiGate, TP-Link, Raspberry Pi, ESP32</li>
    <li>Agile Methodologies: Scrum, Kanban</li>
    <li>Cloud Services: AWS, Oracle</li>
  </ul>
  </p>
</div>

<div class="container">
  <h2> WHAT I LIKE</h2>
  <p>
    I like a lot of things, but here are some of my favorites:
  <ul style="list-style-type: square;">
    <li>Vehicles: Cars, Pickups, Trains, Helicopters and Planes</li>
    <li>Music: Eurobeat, Trance, Rock, Metal, Punk, High BPM songs</li>
    <li>Connections and communication: Networking, IoT, Ham Radio</li>
    <li>Food: Hamburgers, Pizza, Chow Mein, Rice, Chicken, a lot of chicken</li>
  </ul>
  </p>

  <p>
    Please, see the <a class="route-button" href="{{ url_for('home.about') }}">About Website</a> for more information
    about me, my tastes and this website technologies.
  </p>

</div>

<div>
  <p>Website created using </p>
  <a href="https://www.mysql.com/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/mysql-88x31.gif') }}" alt="MySQL"></a>
  <a href="https://flask.palletsprojects.com/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/flask.gif') }}" alt="Flask"></a>
  <a href="https://code.visualstudio.com/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/vscbutton.gif') }}" alt="Visual Studio Code"></a>
  <a href="https://linuxmint.com/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/linux_mint.gif') }}" alt="Linux Mint"></a>
  <a href="https://nginx.org/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/nginx.png') }}" alt="Nginx"></a>
</div>

{% endblock %}