{% extends "layout/base.html" %}

{% block title %}Marcos Reyes - Full Stack Developer & Systems Administrator{% endblock %}
{% block description %}Personal website of Marcos Reyes, a full stack developer and systems administrator focused on
scalable, secure, and high-performance software solutions.{% endblock %}
{% block keywords %}Marcos Reyes, full stack developer, systems administrator, portfolio, Python, Laravel, React,
Docker{% endblock %}

{% block content %}
<div>
  <h1><img src="{{ url_for('static', filename='img/icons/w98_connected_world.ico')}}" alt="MARCOS REYES WEBSITE" class="icon"> MARCOS REYES WEBSITE</h1>
  <i>AstronautMarkus.Dev</i>
</div>

<div>
  <img src="{{ url_for('utils.visitor_counter') }}" alt="Visitor Counter">
</div>

<marquee class="marquee">{{ quote }}</marquee>

<div class="container">
  <img src="{{ url_for('static', filename='img/profile.webp') }}" class="profile-picture" alt="Website Art">
  <h2><img src="{{ url_for('static', filename='img/icons/w98_directory_open_net_web_documents.ico')}}" alt="Network" class="icon"> MY WEBSITE</h2>
  <p>Welcome, travelers and bots, to my personal website! Here, you will find a collection of my projects, thoughts, and
    experiences as a
    full stack developer and systems administrator. I created this website to share my passion for technology and
    to connect with like-minded individuals. Please appreciate the 90s web design, I think it adds a nice touch of
    nostalgia and charm to the overall experience.
  </p>

  <i>I was born on {{ born_day }} and I am {{ age }} years old.</i> <br>

  <p>
    My favorite video game is <a class="payday-game-a" href="https://store.steampowered.com/agecheck/app/218620/"
      target="_blank">PAYDAY2</a>. I never get bored of its simple and repetitive gameplay, the music is great.
  </p>

  <h3>My Social Media</h3>

  <a href="https://instagram.com/astronautmarkusdev" class="route-button social-media-button instagram-button"
    target="_blank">Instagram</a>
  <a href="https://github.com/astronautmarkus" class="route-button social-media-button github-button"
    target="_blank">GitHub</a>
  <a href="https://www.linkedin.com/in/markusreyes" class="route-button social-media-button linkedin-button"
    target="_blank">LinkedIn</a>
  <a href="https://gitlab.com/astronautmarkus" class="route-button social-media-button gitlab-button"
    target="_blank">GitLab</a>

  <p>
    BTW, this is me when the code works on the first try:
  </p>

  <img src="{{ url_for('static', filename='img/smilleys/yahoo.gif' )}}" alt="Yahoo Smiley">

  <p>
    And this is me when it doesn't work on the first try:
  </p>

  <img src="{{ url_for('static', filename='img/smilleys/aggressive.gif' )}}" alt="Aggressive Smiley">


</div>

<div class="container">
  <h2><img src="{{ url_for('static', filename='img/icons/w98_computer.ico')}}" alt="Network" class="icon"> WHAT I DO</h2>
  <p>
    I specialize in building high-performance web applications and scalable infrastructure. My expertise includes:
  <ul style="list-style-type: square;">
    <li>Full Stack Development: React, Laravel, Python</li>
    <li>Systems Administration: Linux, Docker, Nginx, Apache</li>
    <li>Networking / IoT: FortiGate, TP-Link, Raspberry Pi, ESP32</li>
    <li>Agile Methodologies: Scrum, Kanban</li>
    <li>Cloud Services: AWS, Oracle</li>
  </ul>
  </p>
</div>

<div class="container">
  <h2><img src="{{ url_for('static', filename='img/icons/w98_check.ico')}}" alt="Network" class="icon"> WHAT I LIKE</h2>
  <p>
    I like a lot of things, but here are some of my favorites:
  <ul style="list-style-type: square;">
    <li>Vehicles: Cars, Pickups, Trains, Helicopters and Planes</li>
    <li>Music: Eurobeat, Trance, Rock, Metal, Punk, High BPM songs</li>
    <li>Connections and communication: Networking, IoT, Ham Radio</li>
  </ul>

  <p>
    Since I was a child, I have been fascinated by the trains, specially for the <strong>UTS-444</strong>, a <span>Spain
      train that runs between Chile</span>. I've always liked trains, especially before the <strong>Chinese
      trains</strong> arrived here in Chile.
  </p>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <img src="{{ url_for('static', filename='img/4267553686_eb7aa95147_b.png')}}" alt="The UTS-444 Train"
      style="width: 100%; max-width: 300px; height: auto; pointer-events: none;">
    <i style="margin-top: 10px;">The <strong>UTS-444</strong> with the <span>Original Yellow/Blue colors</span> that
      operated in Chile a long time ago.</i>
  </div>

  <p>
    And what's so important about that? Well, I suppose the UI of this page is somewhat inspired by those colors. 
  </p>

  <p>
    Please, see the <a class="route-button" href="{{ url_for('home.about') }}">About Website</a> for more information
    about me, my tastes and this website technologies.
  </p>

</div>

<div>
  <p>Website created using </p>
  <a href="https://www.mysql.com/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/mysql-88x31.gif') }}" alt="MySQL"></a>
  <a href="https://flask.palletsprojects.com/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/flask.gif') }}" alt="Flask"></a>
  <a href="https://code.visualstudio.com/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/vscbutton.gif') }}" alt="Visual Studio Code"></a>
  <a href="https://linuxmint.com/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/linux_mint.gif') }}" alt="Linux Mint"></a>
  <a href="https://nginx.org/" target="_blank"><img
      src="{{ url_for('static', filename='img/88x31_buttons/nginx.png') }}" alt="Nginx"></a>
</div>

{% endblock %}