{% extends "layout/base.html" %}

{% block title %}Markus Tech Stack - Tools and Technologies{% endblock %}
{% block description %}Explore the development, hosting, and learning technologies used by Marcos Reyes, including frameworks, infrastructure tools, and platforms.{% endblock %}
{% block keywords %}tech stack, Marcos Reyes, development tools, hosting technologies, frameworks, infrastructure, software engineering{% endblock %}

{% block content %}
<div>
    <h1><img src="{{ url_for('static', filename='img/icons/w98_console_prompt.ico')}}" alt="Markus Tech Stack" class="icon"> Markus Tech Stack</h1>
    <i>The Stack that I use for development, hosting and learning</i>
</div>

<div class="container">
    {% for tech_type, items in techstack_by_type.items() %}
    <h2 class="tech-type-title">{{ tech_type }}</h2>
    <table>
        <thead>
            <tr>
                <th>Technology</th>
                <th>Tech Type</th>
                <th>Opinion</th>
            </tr>
        </thead>
        <tbody>
            {% for tech in items %}
            <tr>
                <td>{{ tech.name }}</td>
                <td>{{ tech.tech_type }}</td>
                <td>{{ tech.opinion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% endblock %}